[submodule "roles/docker"]
	path = roles/docker
	url = git@github.com:UCL-MIRSG/ansible-role-docker.git
[submodule "roles/postgresql"]
	path = roles/postgresql
	url = git@github.com:UCL-MIRSG/ansible-role-postgresql.git
[submodule "roles/firewalld"]
	path = roles/firewalld
	url = git@github.com:UCL-MIRSG/ansible-role-firewalld.git
[submodule "roles/install_python"]
	path = roles/install_python
	url = git@github.com:UCL-MIRSG/ansible-role-install-python.git
[submodule "roles/ssl_certificates"]
	path = roles/ssl_certificates
	url = git@github.com:UCL-MIRSG/ansible-role-ssl-certificates.git
[submodule "roles/java"]
	path = roles/install_java
	url = git@github.com:UCL-MIRSG/ansible-role-install-java.git
