---
all:
  hosts:
    mirsg_dev_xnat_web:
      ansible_host: mirsg-dev.cs.ucl.ac.uk
      mirsg_dev_xnat_web_url: https://mirsg-dev.cs.ucl.ac.uk:${https_node_port}
      harvester_cluster_base_ip: 10.52.0.0
      harvester_cluster_subnet_mask: 255.255.255.0
      ansible_ssh_ip: ${web_ssh_cluster_ip}
      ansible_ssh_port: ${web_ssh_node_port}
    mirsg_dev_xnat_db:
      ansible_host: mirsg-dev.cs.ucl.ac.uk
      ansible_ssh_ip: ${db_ssh_cluster_ip}
      ansible_ssh_port: ${db_ssh_node_port}
      harvester_pg_svc: dev-xnat-db-pg


  # Groups that hosts belong to
  children:
    # The primary group of xnat servers
    mirsg_dev_xnat:
      hosts:
        mirsg_dev_xnat_web:
        mirsg_dev_xnat_db:

    # All postgres servers
    db:
      hosts:
        mirsg_dev_xnat_db:

    # All the web (XNAT/Tomcat) servers
    web:
      hosts:
        mirsg_dev_xnat_web:

    common:
      hosts:
        mirsg_dev_xnat_web:
        mirsg_dev_xnat_db:
